// Colors
$primary-color: #f4f4f9;
$text-color: #333;
$accent-color: #007bff; // Un azul sereno

// Dark Mode Colors
$dark-primary-color: #222;
$dark-text-color: #f4f4f9;
$dark-accent-color: #66b2ff; // Un azul más claro para el modo oscuro

// Fonts
$font-family: 'Poppins', sans-serif;